<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rental Bikes</title>
</head>
<body>
    <div align="center">
        <h1>Bicycles For Rent</h1>
        <a th:href="@{/new-bike}">Submit A New Rental Bike</a><br/>
        <a th:href="@{/}">Customer List</a>
        <br/><br/>
        <table border="1" cellpadding="10">
            <thead>
            <tr>
                <th>ID</th>
                <th>Color</th>
                <th>Brand</th>
                <th>Model</th>
                <!--<th>Customer</th> -->
            </tr>
            </thead>
            <tbody>
            <tr th:each="bike : ${bikeList}">
                <td th:text="${bike.id}"></td>
                <td th:text="${bike.color}"></td>
                <td th:text="${bike.brand}"></td>
                <td th:text="${bike.model}"></td>
                <!-- <td th:text="${bike.customer != null} ? ${bike.customer.fullName}"></td> -->
                <!--            <td th:text="${bike.customer.fullName}"></td>-->
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>